$black: #000000;
$white: #ffffff;
$grey: #dedede;
$blue: #0f67f0;
$light-blue: #f1f7ff;
$light-orange: #FFBA38;
$light-red: rgba(233, 42, 0, 0.2);
$yellow: #ffee57;
$orange: #FFBA38;
$red: #e92a00;
$green: #81d540;
$dark-green: #4fbca2;
$purple: #5c26c8;

$speed: 0.1s;

$tab-width: 67px;
$header-height: 82px;

$font-Circe: 'Circe', sans-serif;
